<div class="sm:w-3/5 w-full bg-white mx-auto flex-1 flex flex-col items-center justify-center p-4">
  <h3 class='font-serif underline'>
    <%= content_for(:html_title) {t('.resend_confirmation_instructions', :default => 'Resend confirmation instructions')} %>
  </h3>
  <div class="p-8 font-serif">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <form>
        <%= f.label :email, class:"block font-bold mb-2 text-gray-700 text-sm" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "bg-transparent border-b m-auto block border-grey w-full mb-6 text-grey-darker pb-1 hover:bg-gray-400" %>

        <%= f.submit t('.resend_confirmation_instructions', :default => 'Resend confirmation instructions'), class: "bg-blue-400 hover:shadow-md hover:bg-blue-600 text-white font-bold w-full h-10 py-1 px-4 hover:shadow rounded focus:outline-none focus:shadow-outline" %>
      </form>
    <% end %>
    <div class="text-center mt-4">
      <p class="text-sm text-grey-dark font-serif">Already have an account?</p>
      <%= render "devise/shared/links" %>
    </div>
  </div>
  
  <%= render partial: "devise/shared/form_footer", locals: {start_year: '2018'} %>
</div>