<%= render 'cookies_eu/consent_banner', link: '/privacy', target: '_blank' %>

<!-- start footer -->
<footer>
  <div class="flex flex-wrap items-center py-4 px-4 border-b">
    <div class="w-full lg:w-1/5 text-center lg:text-left">
      <a class="text-xl text-indigo-500 font-semibold" href="#"><%= t'.brand_name', :default => Rails.configuration.application_name %></a>
    </div>
    <div class="w-full lg:w-3/5 mt-4 lg:mt-0 text-center">
      <a class="inline-block mx-4 mb-4 lg:mb-0 text-blue-900 hover:text-blue-700" href="/"> <%= t'.home_page' %> </a>
      <a class="inline-block mx-4 mb-4 lg:mb-0 text-blue-900 hover:text-blue-700" href="/about"><%= t'.about_nav' %></a>
      <a class="modal-open inline-block mx-4 mb-4 lg:mb-0 text-blue-900 hover:text-blue-700" href="/contact"><%= t'.contact_nav' %></a>
      <a class="inline-block mx-4 mb-4 lg:mb-0 text-blue-900 hover:text-blue-700" href="/posts"><%= t'.blog_page' %></a>
    </div>
    <div class="flex justify-center lg:justify-end w-full lg:w-1/5 my-2 lg:my-0">
      <%= image_tag("placeholders/icons/message.svg", alt: "Image", class: "w-6 h-6") %>
      <%= image_tag("placeholders/icons/share.svg", alt: "Image", class: "w-6 h-6 mx-8") %>
      <%= image_tag("placeholders/icons/star.svg", alt: "Image", class: "w-6 h-6") %>
    </div>
  </div>
  <div class="py-4 text-center">
    <span class="block md:inline-block mb-4 md:mb-0 mx-3">
      © <%= start_year %> - <%= Date.today.year %> <%= Rails.configuration.application_name, class: "font-bold text-blue-900" %> | <%= t'.dev_by' %> 
      <%= link_to 'https://yo-resume.herokuapp.com/profile/Rodney%20Hammad', title: "Web Developer", class: "text-blue-900 hover:text-blue-700" do %>
        Rodney H with &#10084;
      <% end %>
    </span>
    
    <span class="inline-block mx-4 text-blue-900 hover:text-blue-700">
      <%= link_to t('.privacy_link'), privacy_path, target: "_new" %>
    </span>
    <span class="inline-block mx-4 text-blue-900 hover:text-blue-700">
      <%= link_to t('.terms_link'), terms_path, target: "_new" %>
    </span>
  </div>
</footer>
<!-- end footer -->