<!-- start footer -->
<footer>
  <div class="flex flex-wrap items-center py-4 px-4 border-b">
    <div class="w-full lg:w-1/5 text-center lg:text-left">
      <a class="text-xl text-indigo-500 font-semibold" href="#"><%= t'.brand_name', :default => Rails.configuration.application_name %></a>
    </div>
    <div class="w-full lg:w-3/5 mt-4 lg:mt-0 text-center">
      <% unless current_page?(root_path) %>
        <%= link_to '/', title: t('.home_page') do %>
          <span class="inline-block mx-4 mb-4 lg:mb-0 text-blue-900 hover:text-blue-700">
            <%= t'.home_page' %>
          </span>
        <% end %>
      <% end %>

      <% unless current_page?('/about') %>
        <%= link_to '/about', title: t('.about_nav') do %>
          <span class="inline-block mx-4 mb-4 lg:mb-0 text-blue-900 hover:text-blue-700">
            <%= t'.about_nav' %>
          </span>
        <% end %>
      <% end %>

      <% unless current_page?('/contact') %>
        <%= link_to '/contact', title: t('.contact_nav') do %>
          <span class="inline-block mx-4 mb-4 lg:mb-0 text-blue-900 hover:text-blue-700">
          <%= t'.contact_nav' %>
          </span>
        <% end %>
      <% end %>

      <% unless current_page?('/posts') %>
        <%= link_to '/posts', title: t('.blog_page') do %>
          <span class="inline-block mx-4 mb-4 lg:mb-0 text-blue-900 hover:text-blue-700">
            <%= t'.blog_page' %>
          </span>
        <% end %>
      <% end %>
    </div>
    <div class="flex justify-center lg:justify-end w-full lg:w-1/5 my-2 lg:my-0">
      <%= image_tag("placeholders/icons/message.svg", alt: "Image", class: "w-6 h-6") %>
      <%= image_tag("placeholders/icons/share.svg", alt: "Image", class: "w-6 h-6 mx-8") %>
      <%= image_tag("placeholders/icons/star.svg", alt: "Image", class: "w-6 h-6") %>
    </div>
  </div>
  <div class="py-4 text-center">
    <span class="block md:inline-block mb-4 md:mb-0 mx-3">
      © <%= start_year %> - <%= Date.today.year %> <span class="font-bold text-blue-900"> <%= Rails.configuration.application_name %> </span> | <%= t'.dev_by' %> 
      <%= link_to 'https://yo-resume.herokuapp.com/profile/Rodney%20Hammad', target: "_blank", rel: "nofollow", class: "text-blue-900 hover:text-blue-700" do %>
        <strong>Rodney H </strong> with &#10084;
      <% end %>
    </span>
    
    <span class="inline-block mx-4 text-blue-900 hover:text-blue-700">
      <%= link_to t('.privacy_link'), privacy_path, target: "_new" %>
    </span>
    <span class="inline-block mx-4 text-blue-900 hover:text-blue-700">
      <%= link_to t('.terms_link'), terms_path, target: "_new" %>
    </span>
  </div>
</footer>
<!-- end footer -->