<% content_for(:html_title) { t('about_page') } %>

<!-- If the User is not signed in we show this -->
<% if user_signed_in? %>
<!-- Nothing to display -->
<% else %>
  <!-- Show download  alert Modern with Badge -->
  <div
    class="float-right p-2 mt-2 mr-24 bg-indigo-800 text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex"
    role="alert">
    <span
      class="flex rounded-full bg-indigo-500 uppercase px-2 py-1 text-xs font-bold mr-3">
      <%= t".about_file_badge_new", :default => 'New' %>
    </span>
    <span class="font-semibold mr-2 text-left flex-auto">
      <%= link_to_if(@current_user.nil?, icon('fas', 'download', t('.about_file_text', :default => "Sign in to download my CV")), new_user_session_path, class: 'text-white') %>
    </span>
    <svg class="fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
      <path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z" />
    </svg>
  </div>
<% end %>

<!-- start about -->
<section class="py-12 px-4">
  <div class="flex flex-wrap -mx-4 mb-8">
    <div class="lg:w-1/2 px-4 mb-4 lg:mb-0">
      <%= image_tag("placeholders/pictures/male_avatar.svg", alt: "Avator", class: "rounded shadow-md") %>
    </div>
    <div class="lg:w-1/2 px-4">
      <div class="flex-1 min-w-0">
        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
          Michael Scott
        </h2>
        <span class="text-xl">Back End Developer</span>

        <!-- Preview & Download Button -->
        <% if current_user %>
          <div class="mt-1 flex flex-col sm:mt-0 sm:flex-row sm:flex-wrap">
            <!-- Show by language selected -->
            <% if I18n.locale == :en %>
              <!-- English language -->
              <%= link_to locale: "en" do %>
                <!-- View File -->
                <div class="mt-2 flex items-center text-sm leading-5 text-gray-500 sm:mr-6">
                  <i class="flex-shrink-0 text-gray-400 fas fa-file-pdf" id="clicks"></i>
                  <%= link_to pdfjs.full_path(file: "/somefile_1.pdf".html_safe).to_s, class: 'font-medium text-indigo-500 hover:text-indigo-600 transition duration-150 ease-in-out', target: "_new" do %>
                    &nbsp; <%= t'.pdf_buk_btn', :default => "View PDF" %> &nbsp;<i class="gb uk flag"></i>
                  <% end %>
                </div>

                <!-- Download File -->
                <div class="mt-2 flex items-center text-sm leading-5 text-gray-500">
                  <%= link_to '/somefile_2.pdf', class: "block px-4 py-2 mb-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out", :target => '_blank' do %>
                    <i class="flex-shrink-0 text-gray-400 fas fa-download" id="clicks"></i>&nbsp; <%= t'.download_file', :default => "Download PDF" %>&nbsp; <i class="gb uk flag"></i>
                  <% end %>
                </div>
              <% end %>
            <% else %>
              <!-- Finnish language -->
              <%= link_to locale: "fi" do %>
                <!-- View File -->
                <div class="mt-2 flex items-center text-sm leading-5 text-gray-500 sm:mr-6">
                  <i class="flex-shrink-0 text-gray-400 fas fa-file-pdf" id="clicks"></i>
                  <%= link_to pdfjs.full_path(file: "/somefile_2.pdf".html_safe).to_s, class: 'font-medium text-indigo-500 hover:text-indigo-600 transition duration-150 ease-in-out', target: "_new" do %>
                    &nbsp; <%= t'.pdf_buk_btn', :default => "View PDF" %> &nbsp;<i class="fi flag"></i>
                  <% end %>
                </div>
                <!-- Download File -->
                <div class="mt-2 flex items-center text-sm leading-5 text-gray-500 sm:mr-6">
                  <%= link_to '/somefile_2.pdf', class: "block px-4 py-2 mb-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out", :target => '_blank' do %>
                    <i class="flex-shrink-0 text-gray-400 fas fa-download" id="clicks"></i>&nbsp; <%= t'.download_file', :default => "Download PDF" %>&nbsp;<i class="fi flag"></i>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <!-- / Preview & Download Button -->
      </div>
      
      <p class="my-5">Former branch manager of the Scranton branch of Dunder Mifflin Paper Company, The Michael Scott Paper Company, and later Dunder Mifflin Sabre. Michael enjoys writing song parodies. </p>
      <p class="my-5">Michael was born on March 15, 1962, at 11:23 AM, in Scranton, Pennsylvania. He was raised by his mother and stepfather, Jefferson (“Jeff”), with a home on Kenneth Road. </p>
      <div class="flex">
        <%= image_tag("placeholders/icons/message.svg", alt: "message", class: "w-8 mr-6") %>
        <%= image_tag("placeholders/icons/share.svg", alt: "share", class: "w-8 mr-6") %>
        <%= image_tag("placeholders/icons/star.svg", alt: "star", class: "w-8 mr-6") %>
      </div>
    </div>
  </div>
</section>
<!-- end about -->