<!-- start hero -->
<section class="py-12 px-4">
  <div class="flex flex-wrap items-center text-center lg:text-left -mx-2">
    <div class="lg:w-1/2 px-2 lg:pr-10 mt-10 lg:mt-0 order-1 lg:order-none"><span class="text-sm font-semibold">Ruby on Rails v6</span>
      <h2 class="text-5xl mt-4 mb-6 leading-tight font-heading">
        <%= t'.home_title' %>
      </h2>
      <%= link_to "https://github.com/Rodcode47/kodeflash-Rails-template/blob/master/README.md/", target: "_blank", rel: "nofollow", class: "text-lg text-blue-700 hover:underline" do %>
        <%= t'.learn_more' %> »
      <% end %>
    </div>
    <div class="lg:w-1/2 px-2">
      <%= image_tag("placeholders/pictures/photocopy.svg", alt: "image", class: "") %>
    </div>
  </div>
</section>
<!-- end hero -->

<!-- start about -->
<%= render :partial => 'home/info/info_section' %>
<!-- end about -->

<!-- start blog -->
<section class="py-12 px-4">
  <h2 class="text-3xl text-center mb-8 font-heading">
    <%= t".post_section_title", :default => "Latest posts" %>
  </h2>
  <div class="flex flex-wrap -mx-4">
    <%= render :partial => 'home/posts/post_section' %>
  </div>
</section>
<!-- end blog -->

<!-- start Team -->
<%= render :partial => 'home/teams/team_section' %>
<!-- end Team -->

<!-- start cta -->
<%= render :template => 'contacts/new' %>
<!-- end cta -->

<!-- start Sub -->
<%= render :partial => 'home/join-us/sub_section' %>
<!-- end Sub -->